
@using WebApplication1.Model;
@{
    ViewData["Title"] = "Test";
}
<h2 align ="center">@ViewData["Title"]</h2>


    <TABLE BORDER=8 WIDTH="100%" CELLPADDING="4" CELLSPACING="3">
        <TR>
            <TH COLSPAN="3">
                <H3 align ="center"><BR>Test TITLE</H3>
            </TH>
        </TR>
        <tr>
            <TH><p align="center">Comment</p></TH>
            <TH><p align="center">E-mail</p></TH>
            <TH><p align="center">Body</p></TH>
        </tr>
        

        @foreach (Comment comment in (Comment[])ViewData["Comment"])
        {

            <tr align ="left">
                <td style="padding:15px;">@comment.name</td>
                <td style="padding:15px;">@comment.email</td>
                <td style="padding:15px;">@comment.body</td>
            </tr>



        }

    </TABLE>